# Book settings
# Learn more at https://jupyterbook.org/customize/config.html

title: Ciencia de Datos y Aprendizaje Automático
author: Matías Grinberg
logo: logohumai.png

only_build_toc_files: true

# Force re-execution of notebooks on each build.
# See https://jupyterbook.org/contepip install pptx2mdnt/execute.html
execute:
  execute_notebooks: false

# Define the name of the latex output file for PDF builds
latex:
  latex_documents:
    targetname: book.tex

# Add a bibtex file so that we can create citations
bibtex_bibfiles:
  - references.bib

# Information about where the book exists on the web
repository:
  url: https://institutohumai.github.io/cursos-python/  # Online location of your book
  branch: libro  # Which branch of the repository should be used when creating links (optional)

# Add GitHub buttons to your book
# See https://jupyterbook.org/customize/config.html#add-a-link-to-your-repository
html:
  use_issues_button: true
  use_repository_button: true
